<div id="background">
    <div class="text" id="unklar">
        <h2>Hopfengarten Unklar</h2>
        <p>Das Flagship Bier der Hopfengarten Brauerei. Eine ungefilterte, moderne Mischung aus India Pale Ale und Nürnberger Rotbier.</p>
        <p>Malz: 50% Pale Ale, 50% Carared</p>
        <p>Hopfen: Tomahawk</p>

    </div>
    <div class="text" id="dunkel">
        <h2>Hopfengarten Dunkel</h2>
        <p>Dunkles, malziges Bier mit Karamell- und Röstaromen, perfekt für den Winter.</p>
        <p>Malz: 60% Münchner Malz, 30% Caramalt, 10% Röstmalz</p>
        <p>Hopfen: Spalter</p>

    </div>
    <div class="text" id="punkIpa">
        <h2>Brewdog Punk Ipa</h2>
        <p>Punk IPA. Amplified. In 2010
            we finally got our paws on the equipment we needed to dry hop our beers. We focused all our energy on dry hopping, amping up the aroma and flavour of our flagship beer to create a relentless explosion of tropical fruits, and adding a hint of Caramalt to balance out the insane amount of hops.</p>
        <p>Malz: 95% Extra Pale, 5% Caramalt</p>
        <p>Hopfen: Chinook, Ahtanum, Simcoe, Nelson Sauvin, Amarillo</p>

    </div>
    <div class="text" id="indie">
        <h2>Brewdog Indie</h2>
        <p>A non-dry-hopped pale ale, using new hopping technqiues and in- depth fermentation know-how.</p>
        <p>Malz: 70% Pale Ale, 10% Weizenmalz, 10% Caramalt, 10% Münchner Malz</p>
        <p>Hopfen: Simcoe, Cascade, Mosaic</p>

    </div>
</div>
    