.navbar navbar-expand-lg navbar-light bg-light{
    color:white;
    background-color:black;
}
#footer{
    padding-top:2.5%;
    padding-bottom:2.5%;
    padding-left:10%;
    font-size: large;
    
}