<div id="background">
    <div class="text">
        <h2>1.Maischen</h2>
        <p>Zuerst muss das Malz einige Zeit in 60-70° heißem Wasser verbringen, um den Zucker und die Aromastoffe zu lösen.</p>
    </div>
    <div class="text">
        <h2>2.Hopfenkochen</h2>
        <p>Nachdem das Malz entfernt ist, bringt man die Maische zum Kochen und fügt nach und nach den Hopfen hinzu.<br>
        Früher hinzugefügter Hopfen sorgt für den bitteren Geschmack, später Hinzugefügter für fruchtige/spezielle Aromen.
        </p>
    </div>
    <div class="text">
        <h2>3.Gärung</h2>
        <p>Die gesiebte Maische und die Hefe werden in den sterilen Gärbehälter befördert und das Bier reift dort für 10-14 Tage.<br>Hier entsteht der Alkohol und der primäre Geschmack des Bieres</p>
    </div>
    <div class="text">
        <h2>4.Flaschenreifung</h2>
        <p>Zuletzt muss das Bier 2-3 Wochen in Flaschen abgefüllt reifen. Dabei entsteht die Kohlensäure und der Geschmack rundet sich ab.</p>
    </div>
</div>